* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.Header {
    background-color: rgb(26, 38, 38);
    height: 50px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}

.Header>nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.Header>nav>a {
    text-decoration: none;
    color: white;
}

.home {
    width: 100%;
    height: 100px;
}
a{
    text-decoration: none;
}
.Footer {
    background-color: rgb(26, 38, 38);
    position: fixed;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    bottom: 0;
    padding-right: 50px;

}